(
  regions: {
    "flower": (
      x: 0,
      y: 0,
      width: 16,
      height: 16,
    ),
    "wood": (
      x: 16,
      y: 0,
      width: 16,
      height: 32,
    ),
    "board": (
      x: 32,
      y: 48,
      width: 16,
      height: 16,
    ),
    "block": (
      x: 48,
      y: 48,
      width: 16,
      height: 16,
    ),
  }
)
